* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body { 
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }

  /* header */
  
  #cabecalho {
    z-index: 10;
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    height: 120px;
    border-bottom: 1.5px solid transparent;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px ;
    filter: drop-shadow(0px 2px 3px #000);
  }

  header {
    position: sticky;
    top: 0px;
    left: 0px;
    width:100%;
   
  } 

  h1 {
    width: 87px;
    height: 68px;
    font-weight: 700 bold;
    font-size: 76px;
    line-height: 76px; 
    color: #ffffff;
    /* filter: invert(1) contrast(9); */
    background: inherit;
    position: relative;
    cursor: pointer;
  }

  .sl {
    font-family: 'UnifrakturCook', cursive;
    /* Other font properties */
  }
  

  h1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 0px;
    height: 6px;
    background-color: #ffffff;
    transition: all .4s ease;
   
  }

  h1:hover::after  {
    width: 100% !important;
  }
  
  /* menu */

  #btn-menu {
    color: #ffffff transparent;
    /*filter: invert(1) contrast(9);*/
  }

  #btn-menu,
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  #btn-menu {
    border:1px solid #ffffff ;
    border-radius: 13px ;
    font-weight: 400;
    padding: 6px;
    font-size: 15px;
    text-decoration: none;
    line-height: 12px;
  }

  #btn-menu::after {
    content: "MENU";
  }

  .btn-menu-fechar::after {
    content: "FECHAR" !important;
  }

  #cabecalho a{
    text-decoration: none;
  }

  #menu a {
    color: #ffffff;
    font-size:80px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    /*filter: drop-shadow(0px 2px 3px #000);*/
  }

  .menu-aberto{ 
    transition: all .6s ease-out;
    top: 0px !important;
  }
  
  #menu{
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    left: 0px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.973);
  }

  /*#display {
    font-family: 'UnifrakturCook', cursive;
  }*/

  #cookie-notification {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    max-width: 400px;
    box-shadow: 0 0 10px rgb(48, 48, 48);
  }
  
  #accept-cookie {
    background-color: rgba(0, 0, 0, 0.98);
    color: #ffffff;
    padding: 5px;
    border-radius: 13px;
    transition: all 0.3s ease;
    text-align: right; 
  }
  
  #accept-cookie:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.98);
    color: #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);
  }

  header,
  main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px;
    max-width: 1200px;
    margin-inline: auto;
  }
  
  section {
    min-height: 500px;
    font-family: Arial, Helvetica, sans-serif;
  }

  section::first-letter {
    font-family: 'UnifrakturCook', cursive;
    /* Other font properties */
  }
  
  .linha {
  border: 0px 20px;
  margin: 0px auto;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  color: #ffffff;
  padding: 20px auto;
 }

  /* Section: Título */

 
  

  #tit {
    font-weight:normal;
    font-size: 15vw;
    line-height: 1;
    text-align: center;
    color: #ffffff;
  }
  
  #tit::first-letter {
    font-family: 'UnifrakturCook', cursive;
    /* Other font properties */
  }

  #p-tit {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    border: 10px auto;
    padding-top: 13px;
  }
  
  #banner {
  padding: 13px;
  background-image: url('../images/scott-brayley-IfFhWg6dvDY-unsplash.jpg');
  width: 314px;
  height: 472px;
  margin-bottom: 150px;
  }

  /* Section: Sobre */
  
  #sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  margin-bottom: 150px;
  }
  
  #sob-tit{
  font-size: 50px;
  font-weight: bold;
  }

  #img-sob {
    height: 236px;
    width: 314px;
  }
  
  #img-desc-sob{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  }
  
  #sob-texto{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
  font-weight: 500;
  text-align: left;
  }

  #sob-texto-2 {
    font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-align: left;
  }

  #sob-texto-3 {
    font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-align: left;
  }
  
  /* Section: Trabalhos */

  #trabalhos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin-bottom: 150px;
  }

  #trab-tit{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
  }
  
  #trab-sub{
    font-size: 18px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    text-align: center;
  }

  #ilustra{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }

  #geo{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  
  #ilus{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 20px auto;
  }
  
/* CONTATO */

#contatp {
  margin-bottom: 150px;
}

#cont-tit{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#cont-sub{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#cont-text-2{
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#pre-email {
  font-family: 'Roboto Flex', sans-serif;
  opacity: 0.6;
  font-weight: 400;
  font-size: 13px;
}

#pre-ig {
  font-family: 'Roboto Flex', sans-serif;
  opacity: 0.6;
  font-size: 13px;
}

#contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

  .underline {
    animation: letter-animation 5s linear;
  }
  
  

  #cont-img{
    border-radius: 150px;
  }
  /* desktop */

.galeria{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}

a {
  font-family: 'Roboto Flex', sans-serif;
  color: #ffffff;
}

  @media (min-width: 700px) {
    #tit {

      font-style: condensed;
      font-weight: 500;
      font-size: 15vw;
    }
    
.galeria{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:20px;
}

.galeria img {
  width: 15%;
}

 
  }
  
  @media (min-width:1200px) {
   
    #cabecalho {
        padding: 0px 0px ;
      }
      #tit {
        font-style: condensed;
        font-weight: 500;
        font-size: 230px;
      }

      #img-sob {
        width: 800px;
        height: 800px;
      }

      #trab-tit {
        margin: 10px 0px;
      }

      #trab-sub {
        margin: 40px 0px;
      }
   
 }